.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px; 
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    transition: width 0.3s ease; 
    overflow: hidden; 
  }

  .navbar:hover {
    width: 200px; 
  }

  .navbar .logo {
    display: block; /* Initially show the logo */
    margin: 20px auto; 
    width: 30px; 
    transition: width 0.3s ease, opacity 0.3s ease;
    opacity: 1; /* Initially set opacity to 1 */
  }

  .navbar:hover .logo {
      width: 0px; 
      opacity: 0; 
    }
    

  .navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap; 
    transition: opacity 0.3s ease; 
    opacity: 0; 
    text-align: left;
    font-family: "Poppins";
  }

  .navbar:hover a {
    opacity: 1; 
  }

  .navbar a span { /* Initially show the text */
    display: inline;
    transition: opacity 0.3s ease;
  }

  .navbar:hover a span {
    display: inline;
    opacity: 1; 
  }

  .navbar a:hover {  /* Target the span inside the anchor tag */
    background-color: #afafaf;  /* Example: Light gray background on hover */
    /* Add any other hover styles you want, like color change */
  }

  .content {
    margin-left: 70px; 
    padding: 20px;
    transition: margin-left 0.3s ease;
    font-family: "Poppins";
  }

  .navbar:hover + .content {
    margin-left: 220px; 
  }

  #cnctus{
    position: fixed;
    bottom: 4px;
    right: 10px;
  }

  .contactus_button {
     background-color : #4e4e4e;
     color: white;
     padding: 10px 20px;
     border-radius: 32px;
     border : none;
     transition: opacity 0.6s ;
     text-align: center;
     font-size: 17px;
     cursor: pointer;
     font-family: "Poppins";
     
    
  }
  .contactus_button:hover{
    opacity: 0.8;
  }

  .logocs{
    width: 30px; 
    vertical-align:middle;
  }

.hrslgn{
    text-underline-position: under;
}