<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Fruit Detection App</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/hmpg.css' %}">
</head>
<body>

  <div class="navbar">
    <img class="logo" src="{% static 'images/menu.png' %}" alt="Logo">
    <a href="{% url 'home' %}"><span>Home</span></a>
    <a href="{% url 'upload_image' %}"><span>Test Image</span></a>
    <a href="{% url 'detect_realtime' %}"><span>Real-time Camera</span></a>
    <a href="{% url 'harga_buah' %}"><span>List Harga Buah</span></a>
  </div>

  <div class="container">
    <div class="header">
      <h1>Welcome to Fruit Detection App!</h1>
    </div>

    <div class="content">
      <a href="{% url 'about' %}" class="box-link">
        <div class="box">
          <img src="{% static 'images/groups.png' %}" alt="About Us Logo">
          <span>About Us</span>
        </div>
      </a>
      <a href="{% url 'intro' %}" class="box-link">
        <div class="box">
          <img src="{% static 'images/helep.png' %}" alt="Introduction Logo">
          <span>Introduction</span>
        </div>
      </a>
    </div>
  </div>

</body>
</html>